<!--
    DATE INPUT for FORM
    dict required vars:

    Example:
    { { template "date-input.html" dict 
    "name" "abc" 
    "label" "abc"
    "value" "29-01-2000"
    "opt" "required readonly"
    "errors" map[string]string } }
-->
<div class="form-group mb-2">
    <label for="id_{{ .name }}">{{ .label }}</label>
    <div class="input-group date" data-provide="datepicker">
      <input type="text" class="form-control" name="{{ .name }}" id="id_{{ .name }}" value="{{ .value }}">
        <div class="input-group-addon">
            <i class="fa fa-calendar-check-o fa-2x fa-fw" aria-hidden="true"></i>
        </div>

        {{ template "invalid-feedback.html" dict "field" .name "errors" .errors}}
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.en-GB.min.js" charset="UTF-8"></script>

<script>
$.fn.datepicker.defaults.format = "dd-mm-yyyy";
</script>
