<!--login.html-->
{{ template "header.html" .}}

<div class="row row-center-custom">
  <div class="col-sm-6 col-md-4">
    <h1>Login</h1>

    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form" action="/u/login" method="POST" name="uLogin">
            {{ template "text-input.html" dict "name" "username" "placeholder" "Username" "opt" "required"}}
            {{ template "password-input.html" dict "name" "password" "placeholder" "Password" "opt" "required" }}
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
</div>
</div>

{{ template "footer.html" .}}
