<!--login.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="row row-center-custom">
  <div class="col-sm-6 col-md-4">
    <h1>Login</h1>

    <div class="panel panel-default">
      <div class="panel-body">
        <!--Create a form that POSTs to the `/u/login` route-->
        <form class="form" action="/u/login" method="POST" name="uLogin">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>

</div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}