<!--menu.html-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          {{ if .is_logged_in }}
          <!--Display this link only when the user is logged in-->
            <a class="nav-link" href="/article/create">Create Article</a>
          {{end}} 
        </li>
        {{ if .is_admin }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin/dashboard">Dashboard</a></li>
            <li><a class="dropdown-item" href="/admin/groups/list">User Groups</a></li>
            <li><a class="dropdown-item" href="/admin/users/list">Users</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/admin/casbins/list">URL Resources</a></li>
          </ul>
        </li>
        {{ end }}
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>

      <div class="col-md-3 text-end me-2">
        {{ if not .is_logged_in }}
          <!--Display this link only when the user is not logged in-->
          <a href="/u/login" class="btn btn-outline-primary me-2">Login</a>
          <!--Display this link only when the user is not logged in-->
          <a href="/u/register" class="btn btn-outline-primary me-2">Register</a></li>
        {{end}}
      </div>
      {{ if .is_logged_in }}
      <!--Display this link only when the user is logged in-->
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownUser1">
            <li>
              <span class="dropdown-item">{{ .user.Name }}</span>
              <span class="dropdown-header">({{ .user.Username }})</span>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/u/logout">Sign out</a></li>
          </ul>
        </div>
      {{ end }}
    </div>
  </div>
</nav>