<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">User</th>
        <th scope="col">Group</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{range .payload}}
      <tr>
        <th scope="row">{{.ID}}</th>
        <td>{{.V0}}</td>
        <td>{{.V1}}</td>
        <td>
          <!-- Button trigger modal -->
          <button id="trigger-modal-update{{.ID}}" type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#commonConfirmationModal" value="{{.ID}};{{.V0}}">Edit</button>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>

<!-- Modal Update -->
{{ template "modal-update-ugroup.html" dict "post_url" "/admin/uroles/update" "modal_title" "Update Group" "modal_text_value" "User" "modal_list" .roles }}