<!--
    Common Confirmation modal window

    Example:
    { { template "modal-y-n.html" dict "post_url" "?go-to" "modal_title" "Delete Role" "modal_description" "some value" "modal_target_ID" "123" } }

    required vars:
        .post_url
        .modal_title
        .modal_description
        .modal_target_ID
    controls id: ID
    controls value: modal-y-n-value
    controls label: modal-y-n-label

-->
<div class="modal fade" id="yesNoModal" tabindex="-1" aria-labelledby="commonConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="row g-3" action="{{ .post_url }}" method="post" name="commonConfirmationForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commonConfirmationLabel">{{ .modal_title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="modal-y-n-label">Target</span>
                        <input type="text" class="form-control" id="modal-y-n-value" aria-label="Please confirm" value="{{ .modal_description }}" aria-describedby="modal-y-n-label" disabled>
                        <input type="hidden" value="{{ .modal_target_ID }}" name="ID" id="ID">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </form>
    </div>
</div>