{{ template "header.html" . }}
{{ $action := "" }}
<div class="container">
    {{ template "page-title.html" dict 
        "title" .title 
        "description" .description
    }}
    {{ if (eq .payload.Active 1) }}
        {{ $action = "Deactivate"}}
    {{ else }}
        {{ $action = "Activate" }}
    {{ end }}

    <div class="container mt-1">
        <div class="card">
            <div class="card-body text-center">
              <img src="/assets/images/avatar.png" style="width:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
              <h5 class="card-title">{{ .payload.Username }}</h5>
              <p class="text-secondary mb-1">{{ .payload.Email }}</p>
              <p class="text-muted font-size-sm"></p>
            </div>
            <div class="container mt-1">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr scope="col">
                        <th>Property</th><th>Summary</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr scope="row">
                            <td>ID</td><td>{{ .payload.ID }}</td>
                        </tr>
                        <tr scope="row">
                            <td>Full name</td><td>{{ .payload.Name }}</td>
                        </tr>
                        <tr scope="row">
                            <td>Status Active</td><td>{{ if (eq .payload.Active 1) }} Yes {{ else }} No {{ end }}</td>
                        </tr>
                        <tr scope="row">
                            <td>Birthday</td><td>{{ .payload.Birthday }}</td>
                        </tr>
                        <tr scope="row">
                            <td>Created at</td><td>{{ formatDate .payload.CreatedAt }}</td>
                        </tr>
                        <tr scope="row">
                            <td>Update at</td><td>{{ formatDate .payload.UpdatedAt}}</td>
                        </tr>
                        <tr scope="row">
                            <td>Suspended at</td><td>{{ if (eq .payload.SuspendedAt 0) }} - {{ else }} {{ formatDate .payload.SuspendedAt }} {{ end }}</td>
                        </tr>
                        <tr scope="row">
                            <td>Groups</td><td>{{ .groups }}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button id="trigger-modal-add-but" type="button" class="btn btn-outline-primary me-md-2btn-outline-primary me-md-2" data-bs-toggle="modal" data-bs-target="#commonConfirmationModal">Edit</button>
                    <button class="btn btn-outline-success me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#yesNoModal">{{ $action }}</button>
                    <a href="/admin/users/list" class="btn btn-outline-dark" type="button">Back</a>
                </div>
            </div>
          </div>
    </div>
</div>

{{ template "footer.html" . }}

<!-- Modal -->
{{ template "modal-update-user.html" dict 
"post_url" "/admin/user/update" 
"modal_title" "Update User" 
"user" .payload
}}

{{ template "modal-y-n.html" dict 
"post_url" "/admin/user/update/status" 
"modal_title" $action 
"modal_description" .payload.Username 
"modal_target_ID" .payload.ID }}