{{ template "header.html" . }}

<div class="container">
    {{ template "page-title.html" dict 
        "title" .title 
        "description" .description
    }}
    <div class="container mt-1">
        <div class="card">
            <div class="card-body text-center">
              <img src="/assets/images/avatar.png" style="width:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
              <h5 class="card-title">{{ .payload.Username }}</h5>
              <p class="text-secondary mb-1">{{ .payload.Email }}</p>
              <p class="text-muted font-size-sm"></p>
            </div>
            <div class="container mt-1">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr scope="col">
                        <th>Propertyy</th><th>Summary</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr scope="row">
                            <td>Birthday</td><td>{{ formatDate .payload.Birthday.Int64 }}</td>
                        </tr>
                        <tr scope="row">
                            <td>Is active</td><td>{{ if (eq .payloa.Active.Int16 1) }} Yes {{ else }} No {{ end }}</td>
                        </tr>
                        <tr scope="row">
                            <td>Created at</td><td>{{ formatDate .payload.CreatedAt }}</td>
                        </tr>
                        <tr scope="row">
                            <td>Update at</td><td>{{ formatDate .payload.UpdatedAt}}</td>
                        </tr>
                        <tr scope="row">
                            <td>Suspended at</td><td>{{ formatDate .payload.SuspendedAt }}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            <div class="card-footer">
              <a class="btn btn-primary me-2" type="button">Edit</a>
              <a class="btn btn-warning me-2" type="button">Suspend</a>
              <a href="/admin/users/list" class="btn btn-dark" type="button">Back</a>
            </div>
          </div>
    </div>
</div>

{{ template "footer.html" . }}